form {
	padding-top: 10px;
	float: middle;
	position: absolute;
	border-style: solid;
	border-color: black;
	border-width: 3px;
	padding: 20px;
	margin-top: 20px;
}

.form {
	position: absolute;
	width: 650px;
	padding-left: 150px;
}

.message {
	width: 500px;
	height: 200px;
}